/dts-v1/;
#include "zynq-7000.dtsi"

/ {
    model = "EBAZ4205 Zynq Board";
    compatible = "xlnx,zynq-7000";

    aliases {
        ethernet0 = &gem0;
        serial0 = &uart1;
    };

    memory@0 {
        device_type = "memory";
        reg = <0x0 0x10000000>; /* 256MB physical limit */
    };

    chosen {
        bootargs = "console=ttyPS1,115200 root=/dev/mmcblk0p2 rw rootwait";
        stdout-path = "serial0:115200n8";
    };
};

&uart1 {
    status = "okay";
};

&gem0 {
    status = "okay";
    phy-mode = "rgmii-id";
    phy-handle = <&ethernet_phy>;

    ethernet_phy: ethernet-phy@0 {
        reg = <0>;
        device_type = "ethernet-phy";
    };
};

&sdhci0 {
    status = "okay";
    non-removable;
    bus-width = <4>;
};
